
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  background: linear-gradient(to right, rgb(150,170,241) , rgb(240,255,230));
}
body{
    margin: auto;
}
h1{
	text-align:center;
}

/**Navigation Bar*********************/
.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.NavBar>li {
  float: left;
   width:50%;
}

ul.NavBar>li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  background-color: #484f4f;
  
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
   transition: 0.5s
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#coursesButton{
	background-color:#111;
}
/*End of Navigation Bar**************************************/
#header_photo{
  width: 30%;
}
#header_name{
	align-self: center;
}
h2{
	text-align:center;
}
img{
	margin: 25px 25px 25px 25px;
}

#intro{
	padding: 25px 150px 50px 150px;
	font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th ,td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



tr.course:hover {background-color:#f5f5d5;}

#contactInfo{
	text-align:center;
}

.contact_img{
	height:35px;
	width:40px;
	margin:auto;
}

#projects{
	display:none;
}

@media screen and (max-width: 800px) {
  .flex-container {
	flex-direction: column;
  }
  #intro{
	padding: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 2200px) {
  #intro{
     font-size: 25px;
  }
}